.countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
   
}
.countries img{
    width: 70%;
    height: 50%;

}
@media (max-width: 700px){

.countries {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto;

    }


    .countries img {
            width: 40%;
            height: 25%;
    
        }

}
@media (min-width:700px) and (max-width: 1200px) {

    .countries {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

    }


    .countries img {
        width: 40%;
        height: 25%;

    }

}